@import url(https://fonts.googleapis.com/css?family=Righteous);
/*aula 01 - 01/04/2023 */

body, ul{
    margin: 0px;
    padding: 0px;
  }
  #header #menu a {
   color: rgb(0, 0, 0);
   text-decoration: none;
   font-family: 'Righteous';
   text-transform: uppercase;
   font-size: 1.25em;
   transition: 0.3s;
   margin-right: 15px;
}
#header #menu a:hover {
   color: floralwhite;
   font-size: 1.6em;
   transition: 0.3s;
   text-shadow: 4px 4px 6px #0000007a;
}
#logo img:hover {
   box-shadow: 4px 4px 6px #0000007a;
   transition: 0.3s;
}

#logo img {
   float: left;
   height: 100px;
   position: relative;
   top: 0px;
   left: 0px;
   border-radius: 200px; /* criar bordar circular na imagem */
  }
#header {
   width: 100%;
   position: relative;
   z-index: 100;
   box-sizing: border-box;
   height: 100px;
   padding: 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #4db3e2ea;
   box-shadow: 6px 6px 8px #0000007a;
   transition: 0.3s;
}
#menu {
   display: flex;
   list-style: none;
   gap: 0.5rem;
}
#btn-mobile {
   display: none;
}
/*
#carouselExampleInterval {
   position: relative;
   z-index: 10px;
   padding-top: 80px;
}
*/

#carouselExampleInterval{
  position: relative;
  z-index: 10;
  padding-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 6px 6px 8px #0000007a;
  height: auto;
  transition: 0.3s;
  place-items: normal legacy;
  margin-block: 10px;
}
#carouselExampleInterval .carrousel-inner img {
  max-height: 550px;
  width: 100%;
}
@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu li {
        padding-top: 30px;
        padding-bottom: 0px;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: hidden;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top: 5px solid; /* Melhorando o hamburger >> Espessura de cada linha */
        width: 35px; /*Melhorando o hamburger >> largura */
        color: #0a090a;/* Alterando a cor do hamburger  */
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 35px;/*Melhorando o hamburger >> Largura */
        height: 2px;
        background: currentColor;
        margin-top: 5px; /*Melhorando o hamburgem>> Espaçamento entre o hamburger*/
        transition: 0.4s;
        position: relative;
        border-top: 5px solid; /*Melhorando o hamburger >> espessura de cada */
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

}
 /*Estilo CSS Banner */
 .section-banner-home{
   width: 100%;
   height: 500px;
   margin-top: 10px;
   padding: 50px;
   background-color: rgb(109, 160, 218);
 }
 .section-banner-home img{
   height: 400px;
 }
 .section-banner-home .texto-banner {
   margin-top: 30px;
   font-size: 22px;
 }
 .section-banner-home .texto-banner h1 {
   font-size: 30px;
   width: 60%;
   font-weight: 500px;
   padding-bottom: 20px;
   color: white;
 }
 .section-banner-home .texto-banner p {
   font-size: 15px;
   margin-bottom: 20px;
   color: white;
 }
 .section-banner-home .texto-banner a {
   color: rgb(245, 243, 243);
   text-decoration: none;
   background-color: #000000;
   padding: 4px 14px;
   font-size: 15px;
 }
 .section-banner-home .texto-banner a:hover{
  color: greenyellow;
  text-shadow: 2px 2px 4px #cac5c57a;
  font-size: 18px;
  font-weight: bold;
 }
 /*Fim CSS Banner */

 /*CSS Destaque */
 .destaque h2{
   margin: 15px;
   text-align: center;
   font-size: 24px;
   font-weight: bold;
 }
 .destaque p{
   width: 77%;
   text-align: center;
   font-size: 14px;
   margin: 30px auto;
 }
 .destaque figcaption{
   font-size: 13px;
   color: #000;
   text-decoration: none;
   font-weight: bold;
   text-align: center;
 }
 .destaque a{
   justify-content: center;
   display: flex;
   text-decoration: none;
   color: #30dcf4;
   font-size: 18px;
   font-weight: bold;
   margin: 30px 0;
 }
 /*Fim CSS Destaque*/

 /* CSS Novidades */
 .novidades .text-body {
  width: 80%;
  margin: 10px auto;
 }
 .novidades h2 {
  color: #000;
  font-size: 26px;
  width: 70%;
 }
 .novidades p {
  color: #000 rgb(0, 0 ,0 );
 }
 .novidades a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  text-decoration-color: violet;
  padding: 6px 12px;
  background-color: rgb(0, 68,194 );
  font-weight: 400;
 }
 /* Fim CSS Novidades */

 /* Inicio CSS Galerias */
 .galeria {
  margin: 60px auto 20px;
 }

 .galeria h2 {
  text-align: center;
  font-size: 24px;
 }

.galeria p {
  text-align: center;
  width: 50%;
  margin: 14px auto 50px;
}

.galeria .gallery {
  width: 30%;
  margin: 14px auto 50px;
}
/* Fim CSS Galerias */

/* Inicio CSS Footer */
.rodape {
  padding: 50px 50px 0;
}
.rodape .container #logo-rodape img {
  height: 50%;
  width: 50%;
  padding-left: 10px;
  transition: 10px;
  display: block;
}
.rodape .container #logo-rodape img:hover {
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.rodape .info-contato p {
  margin: 0px;
}
.rodape a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
}
.rodape a:hover {
  font-weight: bold;
}
.rodape .redes-sociais {
  display: inline-block;
}
.rodape .redes-sociais img {
  width: 45px;
  height: 40px;
  padding-left: 00px;
  transition: transform .3s;
  border-radius: 120px;
  margin-left: 00.5rem;
}
.rodape .redes-sociais img:hover {
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.rodape p.direitos {
  text-align: center;
  margin-top: 40px;
}
/* Fim CSS Footer */
/* Início CSS Streaming */

.embed-container {
    position: relative;
    padding-bottom: 0;
    height: auto;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}
.embed-container h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.embed-container p {
    text-align: center;
    font-size: 20px;
}
.embed-container iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    border-radius: 1rem;
    box-shadow: rgb(0, 0, 0) 0.5em 0.5em 0.3em;
    transition: transform .3s;
    display: flex;
}
.embed-container iframe:hover {
    flex: 1;
    z-index: 1;
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.446);
}
.embed-container .col-lg-4 {
    margin-top: 20px;
}

.embed-container .col-lg-6 {
    margin-top: 20px;
}

/* Fim CSS Streaming */

/* Inicio CSS Contato */
.contato {
  margin-top: 50px;
}
.form_main {
  width: 100%;
}
.form_main h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 22px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.col-md-6 #txt-local {
  border-bottom: 1px solid #000000;
  margin-bottom: 16px;
  position: relative;
}
.text-left {
  border-bottom: 1px solid #000000;
  padding-bottom: 9px;
  position: relative;
}
.text-left span {
  background: #000000 repeat scroll 0 0;
  bottom: -2px;
  height: 3px;
  left: 0;
  position: absolute;
  width: 0px;
}
.form-horizontal {
  border-radius: 107px;
  padding: 6px;
}
.form-control[type="text"] {
  border: 1px solid rgb(0, 0, 0);
  margin: 10px 0;
  padding: 10px 0 10px 5px;
  width: 100%;
}
.form-control-msg[type="text"] {
  margin: 10px 0 0;
  padding: 10px 0 10px 5px;
  width: 100%;
}
.formbutton[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #000000;
  -webkit-box-shadow: inset 0px 1px 0px 0px #87c0e6;
  box-shadow: inset 0px 1px 0px 0px #87c0e6;
  background-color: #297ee6;
  display: inline-block;
  border: 1px solid #297ee6;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  line-height: 35px;
  margin: 10px 0;
  padding: 0;
  text-transform: uppercase;
  width: 30%;
}
.formbutton:hover {
  background-color: #000000;
}
.formbutton:active {
  position: relative;
  top: 1px;
}
.txt2:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #297ee6;
}

/* Fim CSS Contato */

/* Inicio CSS Map */
.map {
  width: 100%;
  height: 300px;
}
.msp iframe {
  width: 100px;
  height: 100%;
}

/* Fim CSS Map */
/* Inicio CSS Whats */
.whatsapp {
  position: fixed;
  z-index: 2;
  right: 20px;
  bottom: 100px;
}
.whatsapp img {
height: 60px;
}
/* inicio efeito Pulse */
.pulse {
  animation: pulse 0.7s infinite;
  margin: 0 auto;
  display: table;
  margin-top: 50px;
  animation-direction: alternate;
  -webkit-animation-name:pulse;
  animation-name: pulse;
}
@-webkit-keyframes pulse {
  0%{-webkit-t: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(110%);
  }  
}
@keyframes .pulse {
  0% {
    transform: scale(1);
    filter: brightness(200%);
  }
 100% {
    transform:scale(1.1);
    filter: brightness (200%);
  }
}
/* Fim efeito Pulse */
/* Fim CSS Whats */


/* Início CSS Card Produtos */
.text-center .mb-5 {
    margin-top: 20px;
}

.card img {
    max-height: 300px;
    width: 100%;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
.overlay .mask {
    opacity: 0;
    transition: all .4s ease-in-out;
}

.overlay mask:hover {
    opacity: 1;
}


/* Início CSS Card Produtos */