body, ul{
    margin:0px;
    padding:0px;
    background-color: rgba(228, 199, 207, 0.979);
}

.embed-container {
    position: relative;
    padding-bottom: 0;
    height: auto;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}
.embed-container h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.embed-container p {
    text-align: center;
    font-size: 20px;
}
.embed-container iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    border-radius: 1rem;
    box-shadow: gray 0.5 0.5 0.3em;
    transition: .3s;
    display: flex;
}
.embed-container iframe:hover {
    flex: 1;
    z-index: 1;
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.446);
}
.embed-container .col-lg-4 {
    margin-top: 20px;
}